block vars
	-
		var baseDir = './'
	-
		var meta = {
			charset: 'utf-8',
			viewport: 'width=device-width',
			XUACompatible: 'IE=edge'
		}

doctype html
html
	head
		block head-start
		block meta
			if meta.charset !== null
				meta(charset=meta.charset)
			if meta.XUACompatible !== null
				meta(http-equiv="X-UA-Compatible" content=meta.XUACompatible)
			if meta.viewport !== null
				meta(name="viewport" content=meta.viewport)
		block styles
			link(rel="stylesheet" href=`${baseDir}css/main.css`)
		block head-end
	body
		block body-start
		block content
		include main.pug
		block scripts
			script(src=`${baseDir}js/vendor.js`)
			script(src=`${baseDir}js/main.js`)
		block body-end
